*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    position: relative;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background: #1e1e2e;
}
.container{
    position: relative;
    width: 600px;
    background: #232234;
    padding: 24px;
    margin: 30px auto;
    border-radius: 25px;
}
.container .title{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.container .input-rbox-wrapper{
    position: relative;
}
.input-rbox-wrapper .cbox{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #383854;
    border-bottom: 0;
    padding: 14px 10px;
}
.input-rbox-wrapper .rbox{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #383854;
    border-bottom: 0;
    padding: 14px 10px;
    width: 50%;
    float: left;
}
/* .input-box-wrapper .cbox:first-child{
    border-radius: 15px 15px 0 0;
}
.input-box-wrapper .cbox:last-child{
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid #383854;
} */
.input-rbox-wrapper .cbox label{
    color: #ffffff;
    text-transform: capitalize;
    margin-left: 20px;
    cursor: pointer;
    display: block;
    width: 100%;
}
/* .input-box-wrapper .rbox:first-child{
    border-radius: 15px 15px 0 0;
}
.input-box-wrapper .rbox:last-child{
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid #383854;
} */
.input-rbox-wrapper .rbox label{
    color: #ffffff;
    text-transform: capitalize;
    margin-left: 20px;
    cursor: pointer;
    /* display: block; */
    width: 100%;
}
.input-rbox-wrapper .cbox .checkbox-input{
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.print-values{
    /* position: relative; */
    margin-top: 4rem;
}
.print-values p{
    background: #1e1e2e;
    padding: 16px;
    color: #b8b8b8;
    text-transform: capitalize;
    border-top: #383854;
}
.yellowBackground {
    background-color:yellow;
}
.input-rbox-wrapper .rbox .radiobox{
    background: #232234;
    display: none;
}
.input-rbox-wrapper .rbox .radiobox-label{
    margin-left: 0;
}


.cbox { 
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.checkbox-input{
    display: none;
}
.checkbox-box{
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #cccccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 0.45s, border-color 0.45s;
}
.checkbox-box::after{
    content: "\2714";
    color: #ffffff;
    transform: scale(0);
    transition: transform 0.45s;
}
.checkbox-input:checked + .checkbox-box{
    background: #2266dc;
    border-color: #2266dc;
}
.checkbox-input:checked + .checkbox-box::after{
    transform: scale(1);
}